body{
    margin: 0 auto;
    font-family: 'Titillium Web','sans-serif';
    font-size: 2.2rem;
    text-align: center;
    color: #fffffb;
}
section {
    padding: 30vh 0;
}
.one {
    background-color: #6981fb;
    position: relative;
}
.one::after{
    position: absolute;
    content:"";
    bottom: -5%;
    right: calc(50% - 150px);
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid #6981fb;
}


.one:hover:after{
    transform: translate(0,20px);
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 150px solid #6981fb;
}

.rocket{
    background: hsl(230, 70%, 64%);
    font-size: 3rem;
    width: 150px;
    height: 150px;
    margin: 10px auto 0;
    border-radius: 50%;
    display: grid;
    place-items: center;

}
.two{
    background-color :     #fe7878;
    
}
.nicol{
    width: 350px;
    height: 225px;
}
.three {
    background-color:   #ffc082;
    
}
.hidden{
    display: none;
}
.display1{
    width: 650px;
    height: 650px;
    border: 1px solid hsl(230, 70%, 64%);
    margin: 30px auto 0;
    padding: 1.2rem;
    box-sizing : border-box; 
}
p {
    text-align: initial;
}

